:root, html {
  font-size: 100%;
}

:root {
  --font-fraunces: 'Fraunces', serif;
  --font-tomorrow: 'Tomorrow', sans-serif;
  --font-recursive: 'Recursive', sans-serif;
  --cor-azul: #004aa3;
  --cor-vermelho: #ff666c;
  --cor-cinza: #e6e6d8;
}

body {
  font-size: 1.2rem;
  font-family: var(--font-recursive);
  background-color: var(--cor-cinza);
  color: var(--cor-azul)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.site {
  padding: 10vh 2rem;
}

.conteudo-wrapper {
  margin: 0 auto 0 auto;
  max-width: 37rem;
  background-color: var(--cor-cinza);
}

header,
section {
  padding: 3rem;
}

header {
  background-color: var(--cor-azul);
  color: var(--cor-vermelho);
  text-align: center;
}

.logo svg {
  width: 100%;
  margin-bottom: 2rem;
  fill: var(--cor-vermelho);
}

.data {
  text-transform: uppercase;
  font-size: 2.2rem;
  
  font-weight: 700;
}

.olho {
  font-family: var(--font-fraunces);
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1.1em;
  color: var(--cor-vermelho);
}

.chamada p {
  margin-bottom: 2rem;
}

.cta {
  text-align: center;
}

.botao {
  font-family: var(--font-tomorrow);
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--cor-cinza);
  display: inline-block;
  padding: 0.6em 2em;
  background-color: var(--cor-vermelho);
  border-radius: 0.2rem;
  transition: background-color.3s ease-in-out;
  width: 100%;
}

.botao:hover,
.botao:focus {
  box-shadow: inset 0px 5rem 0 0 var(--cor-azul);
  background-color: var(--cor-azul);
}