:root, html {
  font-size: 100%;
}

:root {
  --font-fraunces: 'Fraunces', serif;
  --font-tomorrow: 'Tomorrow', sans-serif;
  --font-recursive: 'Recursive', sans-serif;
  --cor-azul: #004aa3;
  --cor-vermelho: #ff666c;
  --cor-cinza: #e6e6d8;
}

body {
  font-size: 1.2rem;
  line-height: 1.5em;
  font-family: var(--font-recursive);
  background-color: var(--cor-cinza);
  color: var(--cor-azul)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h2 {
  font-family: var(--font-fraunces);
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: var(--font-tomorrow);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.2em;
  background-color: #ff666c;
  display: inline-block;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}


a {
  color: #004aa3;
}

p {
  margin-bottom: 1rem;
}

/* SITE */

.site {

}

.site-content {
  background: var(--cor-cinza);
}

section {
  padding: 3rem 2rem;
}

/* SEÇÃO INTRO */

.intro {
  background-color: var(--cor-vermelho);
}

.intro-header {
  margin-bottom: 2rem;
  background-color: var(--cor-azul);
}

.intro-logo {
  padding: 1rem;
}

.intro-data {
  padding: 1rem;
  background-color: var(--cor-cinza);
  color: #004aa3;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--font-tomorrow);
  text-align: center;
}

/* SEÇÃO PROGRAMAÇÃO */

.programacao-card {
  margin-bottom: 2rem;
  
}

.programacao-card-header {
  background-color: var(--cor-azul);
  color: #e6e6d8;
  padding: 1rem;
}

.programacao-card-header-horario {
  font-size: 1.5rem;
  font-family: var(--font-tomorrow);
  margin-bottom: 0.5rem;
}

.programacao-card-infos {

}

.programacao-card-tipo {
  padding: 0 0.7em;
  border-radius: 0.05em;
  background-color: #ff666c;
  display: inline-block;
  color: #004aa3;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.programacao-card-title {
  font-family: var(--font-fraunces);
  font-size: 2rem;
  line-height: 1.2em;
  color:var(--cor-vermelho);
  margin-bottom: 0.5em;
}

.programacao-card-pessoa {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1em;
}

.programacao-card-description {
  padding: 1rem;
  
  
}

/* INPUTS E AUXILIARES */

.cta {
  text-align: center;
}

.button {
  font-family: var(--font-tomorrow);
  font-size: 1.3rem;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--cor-cinza);
  display: inline-block;
  padding: 0.6em 2em;
  background-color: var(--cor-vermelho);
  border-radius: 0.2rem;
  transition: background-color.3s ease-in-out;
  width: 100%;
}

.button:hover,
.button:focus {
  background-color: var(--cor-azul);
  color: var(--cor-cinza);
}

.button-small {
  
  font-size: 1rem;
  padding: 0.6em 1em;
  width: auto;
}

footer {
  padding: 2rem;
  background-color: var(--cor-vermelho);
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-tomorrow);
}


/* NAVEGAÇÃO */

.main-menu {
  display: none;
}


/* MOBILE */

@media (max-width:600px)  {
  
}