---
layout: home
title: Home
---

<section class="bem-vindo">
  <div class="content-container">
    <p>O Processing Community Day é um realizado no mundo todo com o objetivo de promover a interação e celebrar a diversidade de pessoas e tecnologias no universo das artes computacionais.</p>
    <p>Esse ano a comunidade brasileira organizou o primeiro PCD nacional, com programação de uma semana inteira.</p>
  </div>
</section>

<section class="programacao boxed">
  <div class="content-container">
    <h2>Programação</h2>

    <h3 class="data">Domingo, 11/04</h3>

    <div class="programacao-lista">

      {% for evento in site.data.grade %}
        <div class="programacao-card">
          <header class="programacao-card-header">
            
            <div class="programacao-card-infos">
              <h5 class="programacao-card-tipo">{{ evento.Tipo }}</h5>
              <h4 class="programacao-card-title"><span>{{ evento.Titulo }}</span></h4>
              <h5 class="programacao-card-pessoa">{{ evento.Ministrante }}</h5>
              <div class="programacao-card-header-horario">{{ evento.Data }}</div>
            </div>             
          </header>
          <div class="programacao-card-description">
            <div class="orientacao"></div>
            <h4>Indicação:</h4>
            <p>{{ evento.Publico }}</p>
            {% if evento.Requisitos %}
              <h4>Requisitos:</h4>
              {{ evento.Requisitos | markdownify }}
            {% endif %}
            <div class="description-text">
              {{ evento.Descricao | markdownify }}
            </div>

            
            <div class="cta">
              <a href="{{ evento.Calendario }}" class="button button-small">Inscrição</a>
              <a href="{{ evento.Calendario }}" class="button button-small">Adicionar ao calendario</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    <h3 class="data">Domingo, 11/04</h3>      
  </div>
</section>

<section class="galeria-chamada">
  Chamada para galeria
</section>

<section class="video">
  <div class="video-container">
    <iframe  src="https://www.youtube.com/embed/Pz5MQ8DTvKI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>

<section class="parcerias">
  <div class="content-container">
    <h2>Parcerias</h2>

    As instituições abaixo apoiam a comunidade de programação criativa e o PCD Brasil 2021:
  </div>
  <ul class="lista-logos">
    {% for instituicao in site.data.parcerias %}
      <li class="lista-logos-item">
        <a href="#">
          <img src="{{ site.baseurl }}/assets/parcerias/{{ instituicao.logo }}" alt="{{ instituicao.nome }}">
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

