---
layout: default
title: Programação
---

<div id="programacao" class="programacao">
  <div class="content-container">

    <p>Para visualizar a programação como grade <a href="{{site.baseurl}}/grade">clique aqui</a></p>

    <h3 class="programacao-data">Domingo, 11/04</h3>
    {% include programacao.html dia='1' %}

    <h3 class="programacao-data">Segunda, 12/04</h3>  
    {% include programacao.html dia='2' %}

    <h3 class="programacao-data">Terça, 13/04</h3>  
    {% include programacao.html dia='3' %}    

    <h3 class="programacao-data">Quarta, 14/04</h3>  
    {% include programacao.html dia='4' %}    

    <h3 class="programacao-data">Quinta, 15/04</h3>  
    {% include programacao.html dia='5' %}    

    <h3 class="programacao-data">Sexta, 16/04</h3>  
    {% include programacao.html dia='6' %}

    <h3 class="programacao-data">Sábado, 17/04</h3>  
    {% include programacao.html dia='7' %}

  </div>
</div>