<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Processing Community Day Brasil - 2021</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@900&family=Recursive:wght@400;700&family=Tomorrow:wght@500&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
  <!-- <script src="js/sketch.js"></script> -->
</head>