<nav id="site-navigation" class="main-menu">
  <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Menu</button>
  <ul class="menu">
    <li class="menu-item"><a href="{{site.baseurl}}/galeria.html">Exposição</a></li>
    <li class="menu-item"><a href="#programacao">Programação</a></li>
    <li class="menu-item"><a href="{{site.baseurl}}/sobre.html">Sobre</a></li>
    <li class="menu-item"><a href="{{site.baseurl}}/codigo-conduta.html">Código de Conduta</a></li>
  </ul>
</nav>