<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="site">
    
    {% include header.html %}

    <div class="site-content">
      
      <section class="intro" style="background-image: url({{site.baseurl}}/assets/PCD-BR-2021-Header.png);">
        <header class="intro-header">
          <div class="intro-logo">
            <img src="{{site.baseurl}}/assets/PCD-BR-2021-Marca-Cinza.png" alt="logo">
          </div>
          <div class="intro-data">
            11 a 17 de Abril de 2021
          </div>
          <div class="intro-bemvindo">
            <p>O Processing Community Day é um evento realizado no mundo todo com o objetivo de promover a interação e celebrar a diversidade de pessoas e tecnologias no universo das artes computacionais.</p>
            <p>Esse ano a comunidade brasileira organizou o primeiro PCD nacional, com programação de uma semana inteira. </p>
            <div class="cta">
              <a href="{{site.baseurl}}/programacao" class="button">Confira a programação</a>
            </div>
          </div>          
        </header>
      </section>

      {{content}}  
     
    </div>
  </div>
  
  {% include footer.html %}

</body>

</html>
